.container{
  border: 1px solid gray;
  margin: 10px;
  width: 50%;
}

.user-input{
  margin-left: 20px;
}

.inline{
  display: inline;
}

.delete{
  color: red;
  font-size: 10px;
  display: inline;
  margin-left: 20px;
}